*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.maindiv
{
    height: 450px;
    width: 850px;
}

h1
{
    margin-bottom: 50px;
    font-family: russo one;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

.maindiv .subdiv1
{
    width: 38%;
    height: 100%;
    float: left;
    background: #61e5f7;
}

.maindiv .subdiv2
{
    width: 62%;
    height: 100%;
    float: right;
}

.maindiv .subdiv1 h3
{
    font-family: russo one;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 20px;
}

.maindiv .subdiv1 p
{
    margin: 20px 20px;
    font-size: 16px;
    font-weight: bold;
}

.maindiv .subdiv1 img
{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.maindiv .subdiv2 h1
{
    margin: 30px 20px;
}

.maindiv .subdiv2 .Name
{
    height: 35px;
    width: 230px;
    margin: 0px 5px 20px 20px;
}

.maindiv .subdiv2 .Email
{
    height: 35px;
    width: 230px;
    margin: 0px 10px 20px;
}

.maindiv .subdiv2 .Subject
{
    height: 35px;
    width: 478px;
    margin: 0px 0px 20px 20px;
}

.maindiv .subdiv2 textarea
{
    height: 150px;
    width: 478px;
    margin: 0px 0px 20px 20px;
    resize: none;
}

.maindiv .subdiv2 .message
{
    height: 35px;
    width: 130px;
    margin: 0px 0px 20px 20px;
    font-family: russo one;
    color: #fff;
    background: #000;
    transition: 0.6s;
    cursor: pointer;
}

.maindiv .subdiv2 .message:hover
{
    background: #444141;
}
::placeholder
{
    font-size: 16px;
    font-family: russo one;
}


@media(min-width:1200px){
    /*Extra large Device*/
    }
    @media(min-width:992px) and (max-width:1199px){
    /*large Device*/
    }
    @media(min-width:768px) and (max-width:991px){
    /*Medium Device*/
        .maindiv
        {
            height: 350px;
            width: 650px;
        }

         h1
        {
            font-size: 30px;
        }

        .maindiv .subdiv1 h3
        {
            font-size: 25px;
            margin: 10px 10px;
        }

        .maindiv .subdiv1 p
        {
            margin: 10px 10px;
            font-size: 14px;
        }

        .maindiv .subdiv1 img
        {
            height: 25px;
            width: 25px;
            margin-right: 10px;
        }

        .maindiv .subdiv2 h1
        {
            margin: 10px 10px;
        }

        .maindiv .subdiv2 .Name
        {
            height: 30px;
            width: 180px;
            margin: 0px 5px 10px 20px;
        }

        .maindiv .subdiv2 .Email
        {
            height: 30px;
            width: 180px;
            margin: 0px 5px 10px;
        }

        .maindiv .subdiv2 .Subject
        {
            height: 30px;
            width: 374px;
            margin: 0px 0px 10px 20px;
        }

        .maindiv .subdiv2 textarea
        {
            height: 140px;
            width: 374px;
            margin: 0px 0px 20px 20px;
        }

        .maindiv .subdiv2 .message
        {
            height: 35px;
            width: 130px;
            margin: 0px 0px 20px 20px;
        }

    }
    @media (max-width:767px){
    /* Small Device*/
        .maindiv
        {
            width: 500px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .maindiv .subdiv1
        {
            width: 80%;
            height: 100%;
        }

        .maindiv .subdiv2
        {
            width: 80%;
            height: 100%;
        }

        .maindiv .subdiv2 .Name
        {
            height: 30px;
            width: 180px;
            margin: 0px 5px 10px 20px;
        }

        .maindiv .subdiv2 .Email
        {
            height: 30px;
            width: 180px;
            margin: 0px 5px 10px;
        }

        .maindiv .subdiv2 .Subject
        {
            height: 30px;
            width: 373px;
            margin: 0px 0px 10px 20px;
        }

        .maindiv .subdiv2 textarea
        {
            height: 140px;
            width: 373px;
            margin: 0px 0px 20px 20px;
        }

        .maindiv .subdiv2 .message
        {
            height: 35px;
            width: 130px;
            margin: 0px 0px 20px 20px;
        }


        
    }
